<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="roxxon-admin-root-organisation-territory-citizenship-group"
    parent="admin-root-organisation-territory" title="Citizenship Group"
    action="roxxon.admin.root.organisation.territory.citizenship.group"/>

  <action-view name="roxxon.admin.root.organisation.territory.citizenship.group"
    title="Citizenship Group" model="com.axelor.apps.roxxon.db.CitizenshipGroup">
    <view type="grid" name="roxxon-citizenship-group-grid"/>
    <view type="form" name="roxxon-citizenship-group-form"/>
  </action-view>
</object-views>
